*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#cc94f5,#9697f4);
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav a{
    display: flex;
}

.logo {
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    left: 200px;
}
ul {
    display: flex;
}
ul li a {
    margin-right: 40px;
    font-size: 22px;
    position: relative;
    right: 190px;
    top: 10px;
    color: #fff;
    z-index: 1;
    font-family: 'roboto';
}
.box {
    background: #fff;
    width: 1800px;
    height: 850px;
    margin: auto;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    border-radius: 5px;
    padding: 50px;
}

.box-left{
    position: absolute;
    width: 50%;
    z-index: 1;
}

.box-left h1{
    color: #160a5e;
    width: 420px;
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.box-left p {
    color: #afb7c2;
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 20px;
    width: 530px;
    line-height: 1.6;
}

.btn button {
    outline: none;
    border: none;
    position: absolute;
    top: 500px;
    left: 200px;
    width: 300px;
    height: 75px;
    background: #9f8cd3;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
}
.btn button:hover {
    background: #4d43bf;
}

.box-right {
    width: 50%;
    position: absolute;
}

.img{
    position: relative;
    left: 850px;
    top: -91px;
}

